<!DOCTYPE html>
<html lang="en">

<body>
  <div class="wrapper">
    <header>

      <nav>
    <div class="nav-wrapper" id="nav">
      <a href="/" class="brand-logo center"><img id="index" src='/media/Untitled-3.png'></a>
      <ul id="nav-mobile" class="right">
         {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <li class="li"><button id="logout" class="btn-no-style">logout</button></li>
        {{else}}
        <li class="li"><button><a href="/login">Login</a></button></li>
        <li class="li"><button><a href="/signup">Signup</a></button></li>
         {{/if}}
      </ul>
    </div>
  </nav>
      </header>
 
    <main>
      <!-- The first quiz -->
        <div>
        {{#each questions}}
        <div class="form-group mt-4 mb-4">
          <h4>{{question}}</h4>
          <input type="radio" name="question{{@index}}" value="{{correctAnswer}}">{{correctAnswer}}<br>
          <input type="radio" name="question{{@index}}" value="{{answer2}}">{{answer2}}<br>
          <input type="radio" name="question{{@index}}" value="{{answer3}}">{{answer3}}<br>
          <input type="radio" name="question{{@index}}" value="{{answer4}}">{{answer4}}<br>
        </div>
        <div id="answer{{@index}}" role="alert"></div>
        <button type="button" class="btn btn-primary w-100" id="button{{@index}}">Check your answer</button>
        {{/each}}
        </div>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/controllers/home-routes.js"></script>
  {{/if}}

</body>

</html>