<!DOCTYPE html>
<html lang="en">

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/public/media/Untitled-3.png">Quick Quack Quiz!</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <button><a href="/login">login</a></button>
        <button><a href="/signup">signup</a></button>
        {{/if}}

        <!-- The first quiz -->
        <div>
        {{#each questions}}
        <div class="form-group mt-4 mb-4">
          <h4>{{question}}</h4>
          <input type="radio" name="question{{@index}}" value="{{correctAnswer}}">{{correctAnswer}}<br>
          <input type="radio" name="question{{@index}}" value="{{answer2}}">{{answer2}}<br>
          <input type="radio" name="question{{@index}}" value="{{answer3}}">{{answer3}}<br>
          <input type="radio" name="question{{@index}}" value="{{answer4}}">{{answer4}}<br>
        </div>
        <div id="answer{{@index}}" role="alert"></div>
        <button type="button" class="btn btn-primary w-100" id="button{{@index}}">Check your answer</button>
        {{/each}}
        </div>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/controllers/home-routes.js"></script>
  {{/if}}

</body>

</html>